/* public/style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}
/* Adicione isso ao final do arquivo public/style.css */

a {
    text-decoration: none;
    color: #4caf50;
    margin-top: 10px;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}
/* Adicione isso ao final do arquivo public/style.css */

.success-message {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
}

.success-message a {
    color: #fff;
    margin-left: 10px;
}

.success-message a:hover {
    text-decoration: underline;
}
